<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/static/lib/datatables/1.10.15/jquery.dataTables.css">
    <div th:include="admin/common :: head"></div>
    <link rel="stylesheet" type="text/css" href="/static/css/admin/house-list.css">

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->
    <title>房源列表</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 房源管理
    <span class="c-gray en">&gt;</span> 房源列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="text-c">

</div>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>
    <span class="l">
        <a class="btn btn-primary radius" data-title="添加房源" data-href="/admin/add/house"
           onclick="Hui_admin_tab(this)" href="javascript:;">
            <i class="Hui-iconfont">&#xe600;</i>添加房源</a>&nbsp;&nbsp;
    </span>
</div>

<div class="page-container">
    <div class="text-c">
        <span class="select-box inline">
            <select id="city" name="city" class="select">
                <option value="">所有城市</option>
            </select>
        </span>
        <span class="select-box inline">
            <select id="houseStatus" name="houseStatus" class="select">
                <option value="">全部房源</option>
                <option value="0">待审核</option>
                <option value="1">已发布</option>
                <option value="2">已出租</option>
            </select>
		</span> 创建时间：
        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'createTimeMax\')||\'%y-%M-%d\'}' })"
               id="createTimeMin" class="input-text Wdate" style="width:110px;">
        -
        <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'createTimeMin\')}',maxDate:'%y-%M-%d' })"
               id="createTimeMax" class="input-text Wdate" style="width:110px;">
        <input type="text" name="houseTitle" id="houseTitle" placeholder=" 房源标题" style="width:250px" class="input-text">
        <button id="houseSearch" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>
            搜房源
        </button>
    </div>
    <div class="mt-20">
        <table id="data-table"
               class="table table-border table-bordered table-bg table-hover table-sort table-responsive"
               style="width: 100%">
            <thead>
            <tr class="text-c">
                <th width="15">ID</th>
                <th>标题</th>
                <th>封面</th>
                <th>面积</th>
                <th>价格</th>
                <th>楼层</th>
                <th>带看次数</th>
                <th>创建时间</th>
                <th>发布状态</th>
                <th width="80">操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<footer th:include="admin/common :: footer"></footer>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/static/js/admin/house-list.js"></script>
</body>
</html>